.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
@media (min-width: 1024px) {
  .main {
    padding: 4rem;
  }
}

.logo {
  /* background-color: red; */
}

.stories {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.stories > div {
  width: calc(50% - 2rem);
}
@media (min-width: 1024px) {
  .stories > div {
    width: calc(25% - 2rem);
  }
}
.stories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stories li {
  margin-bottom: 2.5rem;
}

.stories a {
  font-size: 1.25rem;
}

.stories li:first-child a {
  font-size: 1.5rem;
}