.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
@media (min-width: 1024px) {
  .main {
    padding: 4rem;
  }
}

.logo {
  /* background-color: red; */
}

.stories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.stories > div {
}
.stories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stories li {
  margin-bottom: 2.5rem;
}

.stories a {
  font-size: 1.25rem;
}

.stories li:first-child a {
  font-size: 1.5rem;
}

.image {
  object-fit: cover;
  aspect-ratio: 16 / 9;
}